section header{
    border-top: 1px solid var(--stroke-color);
    padding-block: 12px 24px;
    font: var(--text-span);

    a{
        justify-self: end;
        align-items: center;
        gap: 8px;

        span{
            background-image: url(../Assets/icons/ArrowRight.png);
            width: 16px;
            height: 16px;
            
        }

        &:hover span{
            background-image: url(../Assets/icons/ArrowRight-hover.svg);
        }
    }
}

#featured{
    img{
        height: 100%;
        object-fit: cover;
        
    }

    .card{
        position: relative; /*Adicionamos esse psoition para que o card seja posicionado com relação ao elemento pai dele*/
        border-radius: 4px; /*Trouxemos o broder para cá pois adicionamos uma imagem por cima da imagem principal*/
        overflow: hidden; /*O overflow hidden está ajudando a esconder o transborodo da imagem que está por cima da principal*/

        &::before{ /*Estamos usando o & para substituir o card, pois se não tiver um elemento ali não podemos usar os ::*/
            content: ""; 
            position: absolute; 
            inset: 0; /*usamos o inset para que a nova imagem cubra todo espaço especificado acima*/
            top: 50%; /*usei o top para poder deixar a imagem na metade*/
           background: linear-gradient( /*Para criar o gradiente na imagem*/
            180deg, /*Posicionamento do degrade*/
            transparent 0%, /*Primeira cor*/
           #020617 100% /*Segunda cor*/

           );

        }

        figcaption{
            position: absolute;
            bottom: 0;
            padding: 24px;

            &:has(.text-lg){
                padding: 12px;
            }

            h2{
                margin-top: 8px;
            }
        }

        

    }

}

#weekly{

    &>div {
            grid-template-columns: repeat(4, 292px);
        }

    img{
        height: 160px;
    }

    figure{
        position: relative;
    }

    .content-tag{
        position: absolute;
        top: 8px;
        left: 8px;
    }

    p{
        margin-top: 8px;
        font-weight: 800;
    }
}

